.contact-container{
}

body{
  background: #f0afaf;
}

.card{
  /* border: 1px solid black; */
  padding: 1rem;
  background: rgba(128, 128, 128, 0.356);
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
   
}

.name{
  font-size: 1.2rem;
  font-weight: bold;
}

.address{
  padding-left: .5rem;
}